{% extends "layout.html" %} {% block extra_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> {% endblock %} {% block title %} Welcome and register! {% endblock %} {% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('reg',valid_name=1,valid_pw=1) }}">Sign up</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('login',correct1=1) }}">Sign in</a>
</li>


{% endblock %} {% block body %}
<div class="text">
    Enter your usename and password below to login
</div>
{% endblock %} {% block input %}

<div class="w-75 p-3">
    <form action="{{url_for('login_try')}}" method="post">

        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control w-25 p-3" name="name" id="usr" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control w-25 p-3" name="pw" id="pwd" placeholder="Password">
        </div>
        {% if correct1 == 0 %}
        <div class="alert alert-danger" role="alert">
            Wrong!
        </div>
        {% endif %}


        <button type="submit" class="btn btn-primary">Submit</button>

</div>
</form>
{% endblock %}